* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*score and timer*/
header {
    display: flex;
    justify-content: space-between;
}
/*main page*/
#landing {
    text-align: center;
}
/*option button styling*/
.question-list {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}
.option {
    border-radius: 8px;
    border-color: blueviolet;
    padding: 5px;
    margin: 2.5px;
    width: fit-content;
    color: white;
    background-color: blueviolet;
}
.option:hover {
    background-color: palevioletred;
}